<section data-ng-controller="HomeController">
	<div class="col-xs-12 col-md-9">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 logo">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				
			</p>
		</div>
	</div>
	<div data-ng-hide="authentication.user">
		<h4>Latest Images</h4>
		<a data-ng-repeat="photo in allPhotos | filter: {priv: false } | limitTo:5 | orderBy: '-created'" data-ng-href="#!/photos/{{photo._id}}">
						<img src="{{photo.image}}" style="max-width: 200px" />
					</a>
		<h4>Latest Blog Posts</h4>
		<a data-ng-repeat="article in allBlogs | limitTo:3 | orderBy: '-created'" data-ng-href="#!/articles/{{article._id}}">
						<p data-ng-bind="article.title"></p>
					</a>
	</div>
	<div data-ng-show="authentication.user">
		<h4>Latest Images</h4>
		<a data-ng-repeat="photo in allPhotos | limitTo:5 | orderBy: '-created'" data-ng-href="#!/photos/{{photo._id}}">
						<img src="{{photo.image}}" style="max-width: 200px" />
					</a>
		<h4>Latest Blog Posts</h4>
		<a data-ng-repeat="article in allBlogs | limitTo:3 | orderBy: '-created'" data-ng-href="#!/articles/{{article._id}}">
						<p data-ng-bind="article.title"></p>
					</a>
	</div>
	</div>
	<div class="col-xs-6 col-md-3" id="sidebar" ng-include src='"modules/core/views/sidebar.client.view.html"'>	</div>
	
</section>
