<div class="" data-ng-controller="SidebarController">

	<div data-ng-hide="authentication.user" class="col-xs-6 col-md-3">
				
					<div>
						<h4 class="left">Popular Images</h4>
						<span class="right">
							<a href="/#!/photos">View All</a>
							<span>|</span>
							<a ng-show="authentication.user._id" href="/#!/photos/create">Add New</a>
						</span>
					</div>
					<div class="clearF">
						<a data-ng-repeat="photo in popular | filter: {priv: false}| limitTo:3 | orderBy: '-views'" data-ng-href="#!/photos/{{photo._id}}">
							<img src="{{photo.image}}" style="max-width: 200px" />
						</a>
					</div>
				
				
				
					<div>
						<h4 class="left">Popular Blog Posts</h4>
						<span class="right">
							<a href="/#!articles">View All</a>
							<span>|</span>
							<a ng-show="authentication.user._id" href="/#!/articles/create">Add New</a>
						</span>
					</div>
					<div class="clearF">
						<a data-ng-repeat="article in blogs | limitTo:3 | orderBy: '-views'" data-ng-href="#!/articles/{{article._id}}">
							<p data-ng-bind="article.title"></p>
						</a>
					</div>
				
			</div>
			<div data-ng-show="authentication.user">
				
					<div>
						<h4 class="left">Popular Images</h4>
						<span class="right">
							<a href="/#!/photos">View All</a>
							<span>|</span>
							<a ng-show="authentication.user._id" href="/#!/photos/create">Add New</a>
						</span>
					</div>
					<div class="clearF">
						<a data-ng-repeat="photo in popular | limitTo:3 | orderBy: '-views'" data-ng-href="#!/photos/{{photo._id}}">
							<img src="{{photo.image}}" style="max-width: 200px" />
						</a>
					</div>
				
				
				
					<div>
						<h4 class="left">Popular Blog Posts</h4>
						<span class="right">
							<a href="/#!articles">View All</a>
							<span>|</span>
							<a ng-show="authentication.user._id" href="/#!/articles/create">Add New</a>
						</span>
					</div>
					<div class="clearF">
						<a data-ng-repeat="article in blogs | limitTo:3 | orderBy: '-views'" data-ng-href="#!/articles/{{article._id}}">
							<p data-ng-bind="article.title"></p>
						</a>
					</div>
				
			</div>

</div>