<section data-ng-controller="ProfileController" data-ng-init="viewProfile()">
	<h3 class="col-md-12 text-center" data-ng-bind="username"></h3>
	<div style="width:30%">
	<p class="left">Name: <span data-ng-bind="user2.displayName"></span></p>
	<img src="{{user2.profPic}}" class="right" /><br />
	<div class="clearF"></div><button ng-show="!isFriend" ng-click="friendThis()">Add Friend!</button>
	<div>
		<!-- could not get this filter to agree with me to just display posts by this user -->
		<a data-ng-repeat="photo in allPhotos | filter: filterThis(user._id) | limitTo:5 | orderBy: '-created'" data-ng-href="#!/photos/{{photo._id}}">
						<img src="{{photo.image}}" style="max-width: 200px" />
					</a>
	</div>
</section>